modules = ["python-3.12", "nix"]
run = "uvicorn main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-24_05"
packages = ["cacert", "gdb", "gitFull", "glibcLocales", "gmp", "libcxx", "libxcrypt", "llvm", "pkg-config", "postgresql", "xsimd", "zeromq"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]
build = ["sh", "-c", "pip install --upgrade pip && pip install -r requirements.txt"]
deploymentTarget = "gce"
ignorePorts = true

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 80
